<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ajout d'un media</title>
</head>
<body>
    <h1>Formulaire d'ajout d'un media</h1>
    <form method='post' action="{% url 'add_media' %}">
        {% csrf_token %}

        <label for="select_option">Type de média:</label>
        <select name="type_media" id="media_select">
            <option disabled value="">Choisissez une option</option>
            <option value="BOOK">Livre</option>
            <option value="CD">CD</option>
            <option value="DVD">DVD</option>
            <option value="BOARDGAME">Jeu de plateau</option>
        </select>

        <label for="title_media">Titre: </label>
        <input type="text" id="title_media" name="title_media">

        <label for="author_media">Auteur: </label>
        <input type="text" id="author_media" name="author_media">

        <input type="submit" value="Ajouter">
    </form>
    
</body>
</html>