<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Création d'un compte membre</title>
</head>
<body>

    <a href="/employees/">Retour au menu employés</a>
    <h1>Formulaire de création d'un membre</h1>


    <form method="post" action="{% url 'create_member' %}">
        {% csrf_token %}
        <label for="prenom">Prénom:</label>
        <input type="text" id="prenom" name="first_name">

        <label for="lastname">Nom de famille:</label>
        <input type="text" id="lastname" name="last_name">

        <input type="submit" value="Créer">

    </form>

</body>
</html>