<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Menu employé</title>
</head>
<body>
    <h1>Bienvenue sur l'application employé. </h1>
    <p>Vous  trouverez, ici, toutes vos commandes pour la gestion de la médiathèque. En cas de problème, remontez l'information au développeur logiciel.</p>

    <p>Pour voir la liste des membres et agir dessus, suivez ce lien : <a href="/employees/show-members">administration des membres</a></p>

    <p>Pour voir la liste des medias disponibles : <a href="/employees/show-medias">voir les médias</a></p>
</body>
</html>