<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Menu employé</title>
</head>
<body>

    <a href="/employees">Retourner au menu employés</a>
    <a href="/employees/create-member">Créer un membre</a>

    <p>Voici la liste des membres de la médiathèque:</p>


    <a href="/employees">Retourner au menu employés</a>

    <ul>
        {% for member in members %}
        <div style="display: flex; gap: .4rem;">
            {% if member.bloque %}
            <li style="list-style: none; color: red;">{{ member.firstname }} {{ member.lastname }} | </li>
            <a href="#">Gestion</a>
            {% else %}
            <li style="list-style: none; color: green;">{{ member.firstname }} {{ member.lastname }} | </li>
            <a href="#">Gestion</a>
            {% endif %}
        </div>
        {% endfor %}
    </ul>
</body>
</html>